*{
    margin: 0;
    padding:0;
}

.container{
    padding: 0px 10%;
}
.t_center{
    text-align: center;
}
.momo{
    padding: 20px 20px;
}
.list-style{
    list-style: none;
}
.list-style>li>a{
    text-decoration: none;
    color:black;
}
.list-style>li>a:hover{
    color:orange;
}